/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: black;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  all: unset;
}

.header {
  font-family: "Montserrat", sans-serif;
  background: url(../img/header/headerBackground.png) no-repeat center;
  text-align: center;
  background-size: cover;
  min-width: 320px;
}
.header__navigation {
  background-color: #27262A;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 103px;
}
.header__logo-img {
  background-image: url(../img/header/logoForkio.png);
  width: 43px;
  height: 41px;
}
.header__logo-title {
  display: none;
}
.header__logo:active .header__logo-img {
  background-image: url(../img/header/logoForkioHover.png);
  transition: all 0.3s ease 0s;
}
.header__buy-button {
  border-radius: 40px;
  color: #FFFFFF;
  background-color: #8D81AC;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #8D81AC;
  padding: 10px 25px 10px 25px;
  font-size: 15px;
}
.header__buy-button:active {
  background: #FFFFFF;
  color: #8D81AC;
  transition: all 0.3s ease 0s;
}
.header__menu-button {
  display: block;
  position: relative;
  width: 26px;
  height: 23px;
  cursor: pointer;
}
.header__menu-button::before, .header__menu-button::after {
  content: "";
  background-color: #FFFFFF;
  position: absolute;
  width: 26px;
  height: 3px;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.header__menu-button::before {
  top: 19px;
  left: 0;
}
.header__menu-button::after {
  bottom: 9px;
  left: 0;
}
.header__menu-button span {
  position: absolute;
  width: 15px;
  height: 3px;
  background-color: #FFFFFF;
  top: 3px;
  right: 0;
  border-radius: 5px;
  transition: all 0.3s ease 0s;
}
.header__menu-button.active::before {
  transform: rotate(45deg);
  top: 9px;
}
.header__menu-button.active::after {
  transform: rotate(-45deg);
  bottom: 10px;
}
.header__menu-button.active span {
  transform: scale(0);
}
.header__menu {
  display: none;
}
.header__menu.active {
  display: block;
  position: absolute;
  top: 103px;
  left: 10px;
  width: calc(100% - 20px);
  background: #333333;
}
.header__menu-item::before {
  content: "";
  position: absolute;
  width: 8px;
  height: 53px;
  background: #8D81AC;
  top: 15px;
  left: 0;
  display: none;
}
.header__menu-item {
  padding: 28px 0 28px 36px;
  text-align: left;
  border-bottom: 2px solid #3b3b3b;
  position: relative;
}
.header__menu-item:active {
  padding-left: 40px;
}
.header__menu-item:active .header__menu-link {
  color: #8D81AC;
  transition: all 0.3s ease 0s;
}
.header__menu-item:active::before {
  display: block;
}
.header__menu-item:last-child {
  border-bottom: none;
}
.header__menu-link {
  font-weight: 400;
  font-size: 26px;
  line-height: 26px;
  display: block;
  color: #FFFFFF;
}
.header__title {
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  color: #FFFFFF;
  padding-top: 49px;
  padding-bottom: 19px;
}
.header__description {
  font-family: "Lato";
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #8D81AC;
  padding-bottom: 14px;
}
.header__version {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #848E97;
  padding-bottom: 392px;
}
.header__download-button {
  border-radius: 40px;
  color: #FFFFFF;
  background-color: #8D81AC;
  font-weight: 700;
  cursor: pointer;
  padding: 12px 31px 12px 31px;
  border: 2px solid #8D81AC;
  font-size: 18px;
  line-height: 20px;
  position: relative;
  top: 37px;
}
.header__download-button:active {
  background: #FFFFFF;
  color: #8D81AC;
  transition: all 0.3s ease 0s;
}
.header__trial {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #848E97;
  position: relative;
  top: 48px;
}

@media (min-width: 481px) {
  .header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
    flex-wrap: wrap;
    height: 118px;
  }
  .header__logo {
    display: flex;
    align-items: center;
  }
  .header__logo:active .header__logo-title {
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__logo-title {
    display: block;
    font-family: "Lato";
    font-weight: 700;
    font-size: 24px;
    line-height: 16px;
    text-transform: uppercase;
    color: #8D81AC;
    padding-left: 17px;
  }
  .header__buy-button {
    border: 1px solid #8D81AC;
    padding: 10px 35px 10px 35px;
    font-size: 16px;
  }
  .header__menu-button {
    display: none;
  }
  .header__menu {
    display: flex;
    margin: 0 auto;
    position: static;
    justify-content: space-evenly;
    width: 100%;
  }
  .header__menu-item {
    padding: 0;
    border-bottom: none;
  }
  .header__menu-item:active {
    padding-left: 0;
  }
  .header__menu-item:active::before {
    display: none;
  }
  .header__menu-item:active .header__menu-link {
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__menu-link {
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
    color: #8D81AC;
  }
  .header__title {
    font-size: 72px;
    line-height: 72px;
    padding-top: 50px;
  }
  .header__description {
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 19px;
  }
  .header__version {
    padding-bottom: 365px;
  }
  .header__download-button {
    border: 2px solid #8D81AC;
    padding: 18px 61px 18px 61px;
    font-size: 21px;
    line-height: 23px;
    top: 43px;
  }
  .header__trial {
    top: 61px;
  }
}
@media (min-width: 993px) {
  .header__navigation {
    background-color: transparent;
    justify-content: space-between;
    height: 100px;
  }
  .header__logo {
    order: 1;
  }
  .header__logo:hover .header__logo-title {
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__logo:hover .header__logo-img {
    background-image: url(../img/header/logoForkioHover.png);
    transition: all 0.3s ease 0s;
  }
  .header__buy-button {
    order: 3;
  }
  .header__buy-button:hover {
    background: #FFFFFF;
    color: #8D81AC;
    transition: all 0.3s ease 0s;
  }
  .header__download-button:hover {
    background: #FFFFFF;
    color: #8D81AC;
    transition: all 0.3s ease 0s;
  }
  .header__menu-link:hover {
    color: #FFFFFF;
    transition: all 0.3s ease 0s;
  }
  .header__menu {
    position: relative;
    max-width: 527px;
    order: 2;
    justify-content: space-between;
    left: calc(25% - 180px);
  }
  .header__title {
    font-size: 82px;
    line-height: 82px;
    padding-top: 64px;
  }
  .header__description {
    font-size: 30px;
    line-height: 30px;
  }
}
.revolutionary {
  margin-top: 122px;
  text-align: center;
  min-width: 320px;
}
.revolutionary__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 26px;
  line-height: 28px;
  text-transform: uppercase;
  color: #635C73;
  padding-bottom: 27px;
}
.revolutionary__text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: #323232;
  padding-bottom: 36px;
}
.revolutionary__btn-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
}

.btn-list__item {
  margin-right: 10px;
  border-radius: 6px;
  border: 1px solid rgba(27, 31, 36, 0.15);
  display: flex;
  align-items: center;
  color: #24292e;
  overflow: hidden;
}
.btn-list__link {
  display: flex;
  align-items: center;
  padding: 4px 12px;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  border-right: 1px solid rgba(27, 31, 36, 0.15);
  background-color: #f6f8fa;
}
.btn-list__img {
  margin-right: 4px;
}
.btn-list__count {
  padding: 4px 12px;
  font-family: "Montserrat";
  font-size: 11px;
  font-weight: 600;
}

@media (min-width: 481px) {
  .revolutionary {
    margin-top: 156px;
  }
  .revolutionary__title {
    font-size: 42px;
    line-height: 42px;
  }
  .revolutionary__text {
    font-size: 21px;
    line-height: 32px;
  }
}
@media (min-width: 993px) {
  .revolutionary {
    margin-top: 129px;
  }
  .revolutionary__title {
    font-size: 54px;
    line-height: 54px;
    padding-bottom: 35px;
  }
  .revolutionary__text {
    padding-bottom: 30px;
    padding-left: 60px;
    padding-right: 60px;
  }
}
.what-you-get {
  margin-top: 120px;
  margin-bottom: 6px;
  text-align: center;
  min-width: 320px;
}
.what-you-get__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #8D81AC;
  margin-bottom: 36px;
}
.what-you-get__content-item {
  margin-bottom: 37px;
}
.what-you-get__content-img-wrapper {
  margin-bottom: 27px;
}
.what-you-get__content-info-title {
  font-family: "Montserrat";
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #323232;
  margin-bottom: 14px;
}
.what-you-get__content-info-text {
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #848E97;
}
.what-you-get__img-big {
  display: none;
}
.what-you-get__img-small {
  width: 103%;
}

@media (min-width: 481px) {
  .what-you-get {
    margin-top: 160px;
    margin-bottom: 0;
    text-align: center;
  }
  .what-you-get__title {
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 52px;
  }
  .what-you-get__content-item {
    margin-bottom: 59px;
    display: flex;
    justify-content: space-around;
  }
  .what-you-get__content-img-wrapper {
    margin-bottom: 0;
  }
  .what-you-get__content-info-wrapper {
    text-align: start;
    width: 70%;
  }
  .what-you-get__content-info-title {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 16px;
  }
  .what-you-get__content-info-text {
    font-family: "Montserrat";
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #848E97;
  }
  .what-you-get__img-small {
    display: none;
  }
  .what-you-get__img-big {
    display: block;
    width: 102%;
    padding-left: 58px;
  }
}
@media (min-width: 1050px) {
  .what-you-get {
    margin-top: 70px;
    padding-top: 100px;
    padding-bottom: 69px;
    text-align: center;
    background: #F4F4F4;
    position: relative;
    overflow-x: hidden;
  }
  .what-you-get__title {
    font-size: 48px;
    line-height: 50px;
    flex: 0 0 50%;
  }
  .what-you-get__content {
    flex: 0 0 45%;
  }
  .what-you-get__content-item {
    margin-bottom: 33px;
  }
  .what-you-get__img-big {
    padding-left: 0;
    width: 50vw;
    top: 200px;
    left: 50%;
    position: absolute;
  }
  .what-you-get__wrapper-flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 30px;
  }
}
@media (min-width: 1300px) {
  .what-you-get__img-big {
    width: 700px;
  }
}
.people-talking {
  background: url(../img/talking-section/talking-bg.png) no-repeat center;
  background-size: cover;
  padding-top: 57px;
  padding-bottom: 36px;
  color: #FFFFFF;
  text-align: center;
  min-width: 320px;
}
.people-talking__title {
  font-family: "Montserrat";
  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  margin-bottom: 53px;
}
.people-talking__item {
  margin-bottom: 41px;
}
.people-talking__item:last-child {
  margin-bottom: 0;
}
.people-talking__item-text {
  padding-top: 33px;
  font-family: "Lato";
  font-style: italic;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
}
.people-talking__info {
  margin-top: 29px;
  font-family: "Lato";
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #A291A5;
  position: relative;
}
.people-talking__info::after {
  content: "";
  position: absolute;
  border-bottom: 2px solid #645766;
  width: 245px;
  bottom: -20px;
  right: 0;
  left: 0;
  margin: auto;
}

@media (min-width: 481px) {
  .people-talking {
    padding-top: 86px;
    padding-bottom: 31px;
  }
  .people-talking__title {
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 85px;
  }
  .people-talking__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    row-gap: 54px;
  }
  .people-talking__item {
    margin-bottom: 0;
    align-self: baseline;
    width: 40%;
    flex-shrink: 0;
  }
  .people-talking__item:last-child {
    margin-bottom: 0;
  }
  .people-talking__info {
    margin-top: 57px;
  }
  .people-talking__info::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #645766;
    width: 460px;
    bottom: -20px;
    right: 0;
    left: 0;
    margin: auto;
  }
}
@media (min-width: 993px) {
  .people-talking {
    padding-top: 108px;
    padding-bottom: 21px;
  }
  .people-talking__title {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 82px;
  }
  .people-talking__content {
    row-gap: 108px;
  }
  .people-talking__item {
    width: 30%;
  }
  .people-talking__info {
    margin: 115px auto 0 auto;
    max-width: 887px;
  }
  .people-talking__info::after {
    content: "";
    position: absolute;
    border-bottom: 2px solid #645766;
    width: 780px;
    bottom: -18px;
    right: 0;
    left: 0;
    margin: auto;
  }
}
.pricing {
  background: url(../img/pricing-section/pricing-bg.png) no-repeat;
  background-size: cover;
  font-family: "Montserrat";
  color: #FFFFFF;
  text-align: center;
  padding-bottom: 18px;
  min-width: 320px;
}
.pricing__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  margin-bottom: 32px;
}
.pricing__content-item {
  max-width: 257px;
  margin: 0 auto 18px auto;
}
.pricing__item-header {
  padding: 36px 0;
  background: rgba(255, 255, 255, 0.06);
}
.pricing__item-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-transform: uppercase;
}
.pricing__item-main {
  background: rgba(255, 255, 255, 0.11);
  padding-top: 30px;
  padding-bottom: 67px;
}
.pricing__item-price {
  font-weight: 700;
  font-size: 60px;
  line-height: 62px;
}
.pricing__item-price--thin {
  font-weight: 400;
  font-size: 60px;
  line-height: 62px;
}
.pricing__item-period {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 73px;
  position: relative;
}
.pricing__item-period::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #8D81AC;
  width: 60px;
  top: 68px;
  right: 0;
  left: 0;
  margin: auto;
}
.pricing__item-license {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  height: 55px;
}
.pricing__item-button {
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 14px 36px;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
  margin-top: 38px;
}
.pricing__content-item--active {
  max-width: 299px;
}
.pricing__item-header--active {
  background: rgba(0, 0, 0, 0.11);
  padding: 43px 0;
}
.pricing__item-main--active {
  background: rgba(70, 48, 72, 0.84);
  padding-top: 14px;
  padding-bottom: 47px;
}
.pricing__item-price--active {
  font-weight: 700;
  font-size: 82px;
  line-height: 84px;
}
.pricing__item-price--active span {
  font-weight: 400;
  font-size: 82px;
  line-height: 84px;
}
.pricing__item-period--active {
  padding-top: 16px;
  padding-bottom: 91px;
  position: relative;
}
.pricing__item-period--active::after {
  content: "";
  position: absolute;
  border-bottom: 5px solid #8D81AC;
  width: 60px;
  top: 76px;
  right: 0;
  left: 0;
  margin: auto;
}
.pricing__item-license--active {
  padding-bottom: 83px;
}
.pricing__item-button--active {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  padding: 17px 49px;
}

@media (min-width: 481px) {
  .pricing {
    padding-top: 79px;
    padding-bottom: 94px;
  }
  .pricing__title {
    font-size: 42px;
    line-height: 44px;
    margin-bottom: 39px;
  }
  .pricing__content {
    display: grid;
    grid-template-columns: minmax(218px, 299px) minmax(218px, 257px);
    justify-content: center;
    align-items: center;
    row-gap: 30px;
    column-gap: 25px;
  }
  .pricing__content-item {
    margin-bottom: 0;
    flex-grow: 1;
    width: 100%;
    justify-self: center;
  }
}
@media (min-width: 993px) {
  .pricing {
    padding-top: 114px;
    padding-bottom: 73px;
  }
  .pricing__title {
    font-size: 48px;
    line-height: 50px;
    margin-bottom: 61px;
  }
  .pricing__content {
    flex-wrap: nowrap;
    row-gap: 30px;
    column-gap: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
}
html {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

.container {
  max-width: 480px;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 10px;
}
@media (min-width: 481px) {
  .container {
    max-width: 992px;
  }
}
@media (min-width: 993px) {
  .container {
    max-width: 1200px;
  }
}